cmake-build*/
.idea/
.vs/
build/
data/
out/
Debug/
Release/
*.exe
*.dll
*.app/*
*.desktop
*.zip
*.pcx
*.ncb
*.opt
*.idb
*.plg
*.pdb
*.ilk
*.obj
*.sbr

*.cdi

*.Identifier

cdda/rayman02.wav

cdda/rayman03.wav

cdda/rayman04.wav

cdda/rayman05.wav

cdda/rayman06.wav

cdda/rayman07.wav

cdda/rayman08.wav

cdda/rayman09.wav

cdda/rayman10.wav

cdda/rayman11.wav

cdda/rayman12.wav

cdda/rayman13.wav

cdda/rayman14.wav

cdda/rayman15.wav

cdda/rayman16.wav

cdda/rayman17.wav

cdda/rayman18.wav

cdda/rayman19.wav

cdda/rayman20.wav

doc/DREAMCAST.md

flycast.log

bootfile.bin

header.iso

rayverse.cdi_sd.iso

*.elf
